{"openapi":"3.0.1","info":{"title":"AnyTap REST API Specification","description":"AnyTap 백엔드 서버의 API 및 외부 인터페이스 연동 명세서","version":"v1.0.0"},"servers":[{"url":"http://anytap-alb-1199820250.ap-northeast-2.elb.amazonaws.com","description":"Generated server url"}],"tags":[{"name":"Webhook Controller","description":"외부 WaaS 플랫폼(Cregis) 및 카드사(Wasabi)로부터 실시간 이벤트를 수신하는 웹훅 API / External webhooks"},{"name":"User Controller","description":"회원 정보 관리 및 조회 API / User Management APIs"},{"name":"File Controller","description":"Wasabi ID 인증 파일 업로드 API / File Upload APIs"},{"name":"Authentication & Onboarding Controller","description":"회원 가입, 로그인 및 이메일 인증코드 프로세스 API"},{"name":"Settlement & Withdrawal Controller","description":"가맹점/회원 정산 자금 출금 신청 및 내역 관리 API / Settlement & Withdrawal APIs"},{"name":"Wasabi Card Controller","description":"Wasabi 카드 발급, 충전, 조회, 일시정지, 해제 및 승인 내역 조회 API / Wasabi Card management APIs"},{"name":"Cregis User Controller","description":"회원 전용 Cregis 온체인 입금 지갑 주소 조회 및 잔액 조회 API / Cregis User-facing Wallet APIs"},{"name":"Admin Controller","description":"어드민 전용 정산 및 수동 집금 처리 API / Admin Settlement and Payout APIs"},{"name":"Cregis API","description":"Cregis WaaS 및 결제 엔진 연동용 공식 API 명세 및 중계 API (한글 번역 제공)"},{"name":"Common Controller","description":"공통 유틸리티 및 업무 지시 API / Wasabi Common & Work Order APIs"}],"paths":{"/api/v1/common/work-orders":{"get":{"tags":["Common Controller"],"summary":"업무 지시서 목록 조회 / Get Work Orders","description":"신청한 업무 지시서 내역 및 처리 결과를 조회합니다.","operationId":"getWorkOrders","parameters":[{"name":"pageNum","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"orderNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"merchantOrderNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"target","in":"query","required":false,"schema":{"type":"string"}},{"name":"tradeType","in":"query","required":false,"schema":{"type":"string"}},{"name":"tradeStatus","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}},"post":{"tags":["Common Controller"],"summary":"업무 지시서 목록 조회 / Get Work Orders","description":"신청한 업무 지시서 내역 및 처리 결과를 조회합니다.","operationId":"getWorkOrders_1","parameters":[{"name":"pageNum","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"orderNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"merchantOrderNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"target","in":"query","required":false,"schema":{"type":"string"}},{"name":"tradeType","in":"query","required":false,"schema":{"type":"string"}},{"name":"tradeStatus","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/common/regions":{"get":{"tags":["Common Controller"],"summary":"국가 및 지역 목록 조회 / Get Country Regions","description":"지원하는 전체 국가/지역 코드 및 목록을 조회합니다.","operationId":"getRegions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}},"post":{"tags":["Common Controller"],"summary":"국가 및 지역 목록 조회 / Get Country Regions","description":"지원하는 전체 국가/지역 코드 및 목록을 조회합니다.","operationId":"getRegions_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/common/mobile-codes":{"get":{"tags":["Common Controller"],"summary":"휴대폰 국가번호 목록 조회 / Get Mobile Area Codes","description":"전화번호 입력을 위한 국가별 국제전화 국가코드 목록을 조회합니다.","operationId":"getMobileAreaCodes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}},"post":{"tags":["Common Controller"],"summary":"휴대폰 국가번호 목록 조회 / Get Mobile Area Codes","description":"전화번호 입력을 위한 국가별 국제전화 국가코드 목록을 조회합니다.","operationId":"getMobileAreaCodes_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/common/cities":{"get":{"tags":["Common Controller"],"summary":"도시 목록 조회 / Get Cities","description":"특정 국가코드(regionCode)에 속하는 세부 도시 목록을 조회합니다.","operationId":"getCities","parameters":[{"name":"regionCode","in":"query","description":"국가 코드 (ISO 3166-1 alpha-2)","required":false,"schema":{"type":"string"},"example":"KR"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}},"post":{"tags":["Common Controller"],"summary":"도시 목록 조회 / Get Cities","description":"특정 국가코드(regionCode)에 속하는 세부 도시 목록을 조회합니다.","operationId":"getCities_1","parameters":[{"name":"regionCode","in":"query","description":"국가 코드 (ISO 3166-1 alpha-2)","required":false,"schema":{"type":"string"},"example":"KR"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/cards/{cardId}/limits":{"get":{"tags":["Wasabi Card Controller"],"summary":"Wasabi 카드 한도 조회 / Get Wasabi Card Limits","description":"특정 카드의 1회 및 1일 결제 한도 설정값을 실시간 조회합니다.","operationId":"getCardLimits","parameters":[{"name":"cardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}},"put":{"tags":["Wasabi Card Controller"],"summary":"Wasabi 카드 한도 설정 / Set Wasabi Card Limits","description":"특정 카드의 1회 및 1일 결제 한도를 동적으로 설정합니다.","operationId":"setCardLimits","parameters":[{"name":"cardId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CardLimitsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/webhooks/wasabi/wallet":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 가맹점 지갑 웹훅 / Wasabi Wallet Webhook","description":"본사 Wasabi 가맹점 계정 예치금 풀(Treasury)에 입금/출금이 발생했을 때 자금 상태 감지용으로 호출되는 웹훅입니다.","operationId":"handleWasabiWalletWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/wasabi/card-operation":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 카드 조작 트랜잭션 웹훅 / Wasabi Card Operation Webhook","description":"Wasabi 선불카드의 충전, 정지, 해제 및 취소 처리가 완료되었을 때 호출되는 콜백 엔드포인트입니다.","operationId":"handleWasabiCardOperationWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/wasabi/card-holder":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 카드홀더 이벤트 웹훅 / Wasabi Card Holder Webhook","description":"Wasabi 카드 홀더의 Wasabi ID 인증 심사 결과(Approved/Rejected) 이벤트가 발생했을 때 호출되는 콜백 엔드포인트입니다.","operationId":"handleWasabiCardHolderWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/wasabi/card-auth":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 카드 승인/결제 웹훅 / Wasabi Card Auth Webhook","description":"회원의 실물카드로 온/오프라인 가맹점에서 결제 승인 또는 거부(Auth/Decline)되었을 때 호출되는 콜백 엔드포인트입니다. B2 해외결제수수료(0.5%)의 정산대기수수료 누적을 처리합니다.","operationId":"handleWasabiCardAuthWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/cregis":{"post":{"tags":["Webhook Controller"],"summary":"Cregis 입금 알림 수신 웹훅 / Cregis Deposit Webhook","description":"Cregis 플랫폼에서 유저 개별 지갑 주소로 암호화폐(USDT 등)가 입금 완료되었을 때 호출되는 콜백 엔드포인트입니다. Cregis 사양을 만족하기 위해 처리 성공 시 반드시 문자열 'success'를 본문에 담아 응답합니다.","operationId":"handleCregisWebhook","parameters":[{"name":"X-Signature","in":"header","description":"요청 본문 검증용 HMAC-MD5 서명 값 / HMAC-MD5 Signature","required":false,"schema":{"type":"string"},"example":"a1b2c3d4..."}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/users/{userId}/kyc/resubmit":{"post":{"tags":["User Controller"],"summary":"Wasabi ID 인증 보완 서류 재제출 / Resubmit KYC Documents","description":"반려된 상태에서 새로 업로드한 보완 신분증 파일 ID를 재제출하여 재심사를 요청합니다.","operationId":"resubmitKyc","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KycResubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/settlements/withdraw":{"post":{"tags":["Settlement & Withdrawal Controller"],"summary":"정산 수당 출금 신청 / Request Settlement Withdrawal","description":"가맹점 수수료 수익 및 정산 지갑 자금을 지정한 외부 TRC20 USDT 주소로 출금 신청합니다.","operationId":"requestWithdrawal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/files/upload":{"post":{"tags":["File Controller"],"summary":"Wasabi ID 인증 신분증 및 증빙 파일 업로드 / Upload Wasabi ID Verification Document File","description":"회원 가상 카드 발급 신청(Cardholder 생성) 전, 필요한 신분증 전면, 후면, 셀카 사진 파일 등을 업로드하여 와사비 파일 ID(fileId)를 발급받습니다.","operationId":"uploadFile","parameters":[{"name":"docType","in":"query","description":"증빙 서류 유형 / Document type (e.g., PASSPORT, ID_CARD, SELFIE)","required":false,"schema":{"type":"string","default":"PASSPORT"},"example":"PASSPORT"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"업로드할 신분증/셀카 이미지 파일 (JPEG, PNG 등) / Document file to upload","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/cregis/v2/payout":{"post":{"tags":["Cregis API"],"summary":"대표 지갑 출금 요청 (V2) / Create wallet payout v2","description":"특정 지갑 ID 또는 특정 발송 주소를 명시하여 대표 지갑 내 상세 지정 출금 요청을 수행하는 V2 API입니다.","operationId":"createWalletPayoutV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPayoutV2Request"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/v2/order/info":{"post":{"tags":["Cregis API"],"summary":"결제 주문 상태 조회 / Query Payment order","description":"구매자의 결제 완료 여부, 실제 결제 금액, 남은 잔액, 취소 여부 및 정산 완료 상태 등을 Cregis 주문 고유 식별자(cregis_id)로 정밀하게 조회합니다.","operationId":"queryPaymentOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPaymentQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/v2/checkout":{"post":{"tags":["Cregis API"],"summary":"결제 주문서 생성 / Create Payment order","description":"구매자가 Cregis 결제 창(Checkout Page)을 통해 상품을 결제할 수 있도록 주문 고유 정보, 결제 금액, 허용 코인 종류 및 반환 링크 정보를 포함한 신규 결제 웹 주문을 생성합니다.","operationId":"createPaymentOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPaymentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/user/test-deposit/{userId}":{"post":{"tags":["Cregis User Controller"],"summary":"Cregis Sandbox 테스트 입금 송금 / Trigger Cregis Sandbox Test Deposit","description":"Cregis Sandbox의 대표 지갑(Master Wallet)에 보유 중인 Shasta 테스트넷 USDT를 유저의 실제 입금 주소로 송금 이체합니다. 트랜잭션이 온체인에 등록되면, 블록체인 전송이 완료된 뒤 Cregis Sandbox 시스템에 의해 AnyTap 웹훅(/api/v1/webhooks/cregis)이 자동으로 트리거됩니다.","operationId":"triggerTestDeposit","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"},{"name":"amount","in":"query","description":"송금할 USDT 수량 (기본값: 10.0)","required":false,"schema":{"type":"number","format":"double","default":10.0},"example":10.0}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/cregis/user/address/{userId}/issue":{"post":{"tags":["Cregis User Controller"],"summary":"회원 Cregis 입금 주소 수동 발급 / Issue Cregis Wallet Address Manually","description":"회원에게 Cregis sub-address 지갑 주소를 수동으로 발급하여 등록합니다. 이미 발급된 주소가 있으면 기존 주소를 반환합니다.","operationId":"issueCregisAddress","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/cregis/trade/query":{"post":{"tags":["Cregis API"],"summary":"가맹점 거래 내역 조회 / Get transactions","description":"가맹점의 특정 지갑 주소, 화폐, 트랜잭션 해시, 날짜 범위 조건에 해당하는 모든 거래 내역(입/출금)을 조회합니다.","operationId":"getTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisTradeQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/sub_address_withdrawal":{"post":{"tags":["Cregis API"],"summary":"서브 주소 출금 요청 / Create sub-address payout","description":"가맹점의 개별 서브 지갑 주소(from_address)로부터 수취인 주소(to_address)로 즉시 출금(출송) 트랜잭션을 실행합니다.","operationId":"createSubAddressPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisSubAddressWithdrawalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/sub_address_withdrawal/info":{"post":{"tags":["Cregis API"],"summary":"서브 주소 출금 주문 상태 조회 / Query sub-address payout order","description":"서브 주소 출금 요청의 승인 여부, 블록체인 전송 성공률 및 트랜잭션 해시 정보를 고유 일련번호(cid)로 상세 조회합니다.","operationId":"querySubAddressPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisSubAddressWithdrawalQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/sub_address_balance":{"post":{"tags":["Cregis API"],"summary":"서브 주소 잔액 조회 / Query address balance","description":"WaaS 프로젝트에 생성된 서브 주소들의 잔액을 필터링하여 일괄 또는 개별 조회합니다.","operationId":"queryAddressBalance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressBalanceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/payout":{"post":{"tags":["Cregis API"],"summary":"대표 지갑 출금 요청 (V1) / Create wallet payout","description":"가맹점 대표(마스터) 지갑에 보관된 자금에서 외부 지정 수취인 지갑 주소로 암호화폐 자금을 출금합니다.","operationId":"createWalletPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPayoutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/payout/query":{"post":{"tags":["Cregis API"],"summary":"대표 지갑 출금 주문 상태 조회 / Query wallet payout order","description":"대표 지갑 출금 트랜잭션(V1, V2)의 결재 상태, 서명 진행률 및 온체인 완료 여부를 고유 일련번호(cid)로 추적합니다.","operationId":"queryWalletPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPayoutQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/currency/query":{"post":{"tags":["Cregis API"],"summary":"프로젝트 지원 코인 목록 조회 / Get project coins","description":"가맹점 프로젝트(Project ID)에서 연동 활성화한 암호화폐(코인/토큰) 목록 및 상세 정보(체인 ID, 토큰 ID, 소수점 자릿수 등)를 실시간 조회합니다.","operationId":"getProjectCoins","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisCommonRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/collection":{"post":{"tags":["Cregis API"],"summary":"지갑 주소 잔액 집금 / Address collection","description":"서브 지갑 주소에 흩어진 암호화폐 자금을 가맹점의 대표(마스터) 지갑으로 안전하게 이동(집금)시키는 이체 트랜잭션을 생성합니다.","operationId":"addressCollection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressCollectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/batch/address/create":{"post":{"tags":["Cregis API"],"summary":"입금 서브 주소 일괄 생성 / Batch create address","description":"여러 명의 유저에게 동시 할당할 수 있도록 특정 블록체인 상의 서브 지갑 주소를 일괄 생성합니다. (1회 최대 100개)","operationId":"batchCreateAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressBatchCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/update":{"post":{"tags":["Cregis API"],"summary":"서브 주소 정보 변경 / Update address info","description":"생성되어 있는 서브 주소의 별칭(alias), 입금 통보용 콜백 URL(callback_url) 및 주소 상태값을 수정합니다.","operationId":"updateAddressInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/legal":{"post":{"tags":["Cregis API"],"summary":"수취 주소 포맷 적합성 검증 / Check address legality","description":"출금을 실행하기 전에 수취 대상 블록체인 네트워크와 해당 지갑 주소가 문법적으로 유효한 주소인지 먼저 규격을 확인합니다.","operationId":"verifyAddressLegality","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressLegalityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/inner":{"post":{"tags":["Cregis API"],"summary":"Cregis 주소 여부 검증 / Check address existence","description":"전달받은 주소가 외부 주소가 아닌, 당사 Cregis 프로젝트에 속하여 정상 할당된 주소가 맞는지 여부를 조회합니다.","operationId":"verifyAddressExistence","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/create":{"post":{"tags":["Cregis API"],"summary":"입금 서브 주소 생성 / Create address","description":"특정 블록체인 네트워크 상에 고객의 개별 입금(Recharge) 식별 처리를 위한 1회성 또는 영구 서브 지갑 주소를 생성합니다.","operationId":"createAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/common/work-order/submit":{"post":{"tags":["Common Controller"],"summary":"업무 지시서(Work Order) 등록 / Submit Work Order","description":"수동 카드 활성화(Apple Pay 등) 및 기타 수동 확인이 필요한 지시사항을 Wasabi 운영팀에 제출합니다.","operationId":"submitWorkOrder","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/cards/{userId}/unfreeze":{"post":{"tags":["Wasabi Card Controller"],"summary":"카드 일시 정지 해제 / Unfreeze Card","description":"일시 정지(Block) 상태로 변경되었던 유저 카드의 잠금을 해제하고 정상 결제 상태로 복구(Activate) 처리합니다.","operationId":"unfreezeCard","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"},{"name":"cardId","in":"query","description":"정지 해제할 특정 카드 번호 (선택) / Specific Wasabi Card ID (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/cards/{userId}/register":{"post":{"tags":["Wasabi Card Controller"],"summary":"Wasabi 카드 등록 및 발급 / Register Wasabi Card","description":"회원의 이메일을 사용하여 Wasabi 카드 홀더(holderId)를 개설하고 신규 가상 카드를 발급 및 매핑합니다. 발급 고정 수수료(A2: 10 USDT)를 정산 대기 수수료에 가산합니다. 보안 준수를 위해 실제 카드번호나 CVV 등은 절대 DB에 영구 저장하지 않습니다.\n\n**호출 예시 (JS Fetch):**\n```javascript\nfetch('/api/v1/cards/US123456/register', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ email: 'user@example.com' })\n}).then(res => res.json()).then(data => console.log(data));\n```","operationId":"registerCard","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CardRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/cards/{userId}/freeze":{"post":{"tags":["Wasabi Card Controller"],"summary":"카드 사용 일시 정지 / Freeze Card","description":"카드 도난, 분실 혹은 유저 요청에 따라 해당 카드의 결제 작동을 임시 정지(Freeze) 처리합니다.","operationId":"freezeCard","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"},{"name":"cardId","in":"query","description":"정지할 특정 카드 번호 (선택) / Specific Wasabi Card ID (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/cards/{userId}/deposit":{"post":{"tags":["Wasabi Card Controller"],"summary":"Wasabi 카드 충전 요청 / Deposit to Wasabi Card (Model 1)","description":"회원의 sub-address 지갑의 사용 가능 잔고를 조회하고, 수수료(A3) 및 추천인수당(A4)을 제한 Net 금액만큼 Cregis 마스터 지갑으로 sweep한 후 Wasabi 카드를 실시간 충전 처리합니다.\n\n**호출 예시 (JS Fetch):**\n```javascript\nfetch('/api/v1/cards/US123456/deposit', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ amount: 100.00, cardId: 'C_XXXX' })\n}).then(res => res.text()).then(msg => console.log(msg));\n```","operationId":"chargeCard","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CardDepositRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/auth/verify-code":{"post":{"tags":["Authentication & Onboarding Controller"],"summary":"인증 코드 검증 / Verify email code","description":"유저가 입력한 인증 코드와 Redis에 보관된 코드의 일치 여부를 검증합니다. 일치 시 true를 반환합니다.","operationId":"verifyCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v1/auth/sign-up":{"post":{"tags":["Authentication & Onboarding Controller"],"summary":"회원 가입 완료 / Complete sign-up","description":"이메일 인증을 완료한 유저의 회원 정보를 저장(비밀번호 SHA-256 암호화)하고, Cregis WaaS TRON 서브 지갑과 Wasabi 모의 카드를 즉시 발급 및 연동 처리합니다.","operationId":"signUp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/auth/send-verification-email":{"post":{"tags":["Authentication & Onboarding Controller"],"summary":"이메일 인증 코드 발송 및 임시 회원 등록 / Send verification email & Register temp user","description":"회원가입하려는 회원 정보(이메일, 패스워드, 가맹점 ID)를 받아 User_Temp 테이블에 임시 저장하고, 이메일로 6자리 일회용 인증코드를 전송합니다.","operationId":"sendVerificationEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/auth/register-cardholder":{"post":{"tags":["Authentication & Onboarding Controller"],"summary":"임시회원 Wasabi 카드홀더 등록 / Register Wasabi Cardholder for temp user","description":"이메일 인증을 마친 임시 신청 회원 상태에서 Wasabi 카드 홀더(holderId)를 개설합니다. (실제 카드 발급은 최종 회원가입 및 카드 제어에서 처리)","operationId":"registerCardHolder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CardholderRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Authentication & Onboarding Controller"],"summary":"로그인 / User login","description":"이메일과 패스워드를 매칭하여 로그인을 수행하고 가맹점 ID, 발급 지갑 주소, Wasabi ID 인증 상태 정보를 포함한 세션 프로필을 반환합니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/admin/settlement/payout/{userId}":{"post":{"tags":["Admin Controller"],"summary":"어드민 수동 수수료 정산 및 마스터 집금 실행 / Trigger Manual Fee Payout","description":"회원의 미지급 누적 수수료(unpaid_total_fee) 총액을 온체인 상에서 조회하여, 본사의 수취 마스터 지갑(cregis_collect_address)으로 강제 sweep 전송 처리한 후, DB의 unpaid 필드를 0으로 청소하고 정산 이력대장(Payout Ledger)을 기록합니다.\n\n**호출 예시 (JS Fetch):**\n```javascript\nfetch('/api/v1/admin/settlement/payout/US123456', {\n  method: 'POST'\n}).then(res => res.json()).then(data => console.log(data));\n```","operationId":"manualPayout","parameters":[{"name":"userId","in":"path","description":"정산 대상 유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/admin/members/{userId}/update":{"post":{"tags":["Admin Controller"],"summary":"회원 기본 정보 및 상태 수정 / Update Member Details","description":"회원의 기본 정보(이메일, 역할, 시스템 상태, Wasabi ID 인증 상태, 카드 상태, Cregis 지갑 주소)를 수동으로 수정합니다.","operationId":"updateMemberDetails","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v1/admin/members/{userId}/cards/{cardNo}/unfreeze":{"post":{"tags":["Admin Controller"],"summary":"회원 와사비 카드 정지 해제 / Unfreeze Member Card","description":"일시 정지 상태인 회원의 와사비 카드를 Wasabi API를 호출하여 정상(Normal) 상태로 해제합니다.","operationId":"unfreezeMemberCard","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"cardNo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v1/admin/members/{userId}/cards/{cardNo}/freeze":{"post":{"tags":["Admin Controller"],"summary":"회원 와사비 카드 일시 중지 / Freeze Member Card","description":"회원의 와사비 실물/가상 카드를 Wasabi API를 호출하여 즉시 일시 정지(Freeze) 처리합니다.","operationId":"freezeMemberCard","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"cardNo","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v1/admin/members/{userId}/cards/register":{"post":{"tags":["Admin Controller"],"summary":"실제 와사비 카드 등록 및 실시간 검증 API / Register and Verify Wasabi Card","description":"입력한 카드 번호를 실시간 Wasabi API로 검증한 후, 존재하는 카드인 경우 DB에 매핑 등록하고 카드 상세 정보 응답을 반환합니다.","operationId":"registerWasabiCard","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/admin/kyc/{userId}/reject":{"post":{"tags":["Admin Controller"],"summary":"Wasabi ID 인증 반려 / Reject Wasabi ID Verification","description":"특정 회원의 Wasabi ID 인증 상태를 REJECTED로 반려 처리합니다.","operationId":"rejectKyc","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/admin/kyc/{userId}/approve":{"post":{"tags":["Admin Controller"],"summary":"Wasabi ID 인증 승인 / Approve Wasabi ID Verification","description":"특정 회원의 Wasabi ID 인증 상태를 APPROVED로 승인합니다.","operationId":"approveKyc","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/admin/cards/applications/{userId}/update-status":{"post":{"tags":["Admin Controller"],"summary":"카드 상태 및 배송 정보 업데이트 / Update Card Application Status","description":"회원의 카드 상태(deposit_received, creating, shipping, issued 등) 및 배송 정보를 어드민이 수동 갱신합니다.","operationId":"updateCardStatus","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CardStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/users/{userId}":{"get":{"tags":["User Controller"],"summary":"회원 상세 정보 조회 / Get User Details","description":"회원의 고유 식별자(userId)를 기반으로 회원 마스터 정보, Wasabi ID 인증 상태, 크레지스 입금 지갑 주소, 그리고 발급된 모든 와사비 카드 목록을 통합 조회합니다.","operationId":"getUserDetails","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/v1/users/{userId}/kyc/rejection-reason":{"get":{"tags":["User Controller"],"summary":"Wasabi ID 인증 반려 사유 조회 / Get KYC Rejection Reason","description":"회원 식별자를 기반으로 가장 최근의 Wasabi ID 인증 심사 반려 사유를 반환합니다.","operationId":"getKycRejectionReason","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/settlements/withdrawals":{"get":{"tags":["Settlement & Withdrawal Controller"],"summary":"출금 신청 이력 조회 / Get Withdrawal History","description":"가맹점/회원 식별자를 기반으로 신청된 모든 출금 내역과 승인 여부 상태를 조회합니다.","operationId":"getWithdrawalHistory","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMapStringObject"}}}}}}},"/api/v1/cregis/user/sub-address-balance/{userId}":{"get":{"tags":["Cregis User Controller"],"summary":"회원 가용 잔액 조회 / Query Sub-address Available Balance","description":"Cregis WaaS 지갑의 온체인 실시간 잔액에서 DB 상에 기록된 정산 대기 수수료(unpaid_total_fee)를 차감한 순수 사용 가능 잔고를 산출하여 반환합니다.\n\n**호출 예시 (JS Fetch):**\n```javascript\nfetch('/api/v1/cregis/user/sub-address-balance/US123456')\n  .then(res => res.json())\n  .then(data => {\n    console.log('실잔액:', data.actualBalance);\n    console.log('미지급수수료:', data.unpaidTotalFee);\n    console.log('가용잔고:', data.availableBalance);\n  });\n```","operationId":"getSubAddressBalance","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/cregis/user/address/{userId}":{"get":{"tags":["Cregis User Controller"],"summary":"회원 Cregis 입금 주소 조회 / Get Cregis Wallet Address","description":"회원 가입 및 온보딩 시 생성된 회원의 Cregis sub-address 지갑 주소를 조회합니다.\n\n**호출 예시 (JS Fetch):**\n```javascript\nfetch('/api/v1/cregis/user/address/US123456')\n  .then(res => res.json())\n  .then(data => console.log(data.address));\n```","operationId":"getCregisAddress","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/api/v1/common/rate":{"get":{"tags":["Common Controller"],"summary":"실시간 적용 환율 조회 / Get Exchange Rate","description":"USDT 충전 및 가맹점 정산 시 기준이 되는 실시간 적용 환율과 마진 수수료율 정보를 반환합니다.","operationId":"getExchangeRate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/cards/{userId}/transactions":{"get":{"tags":["Wasabi Card Controller"],"summary":"카드 거래 내역 리스트 조회 / Get Card Transaction History","description":"유저의 카드로 온/오프라인 결제 및 취소 처리된 상세 거래 이력 리스트를 페이징하여 실시간 조회합니다.","operationId":"getCardTransactions","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"},{"name":"cardId","in":"query","description":"조회할 특정 카드 번호 (선택) / Specific Wasabi Card ID (optional)","required":false,"schema":{"type":"string"}},{"name":"pageNum","in":"query","description":"조회할 페이지 번호 / Page number to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"pageSize","in":"query","description":"페이지 당 내역 수 / Number of records per page","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/cards/{userId}/info":{"get":{"tags":["Wasabi Card Controller"],"summary":"카드 상태 및 잔액 정보 조회 / Get Card Info","description":"유저 고유 식별자(userId)를 기반으로 발급된 Wasabi 카드의 실시간 잔액, 한도, 카드 활성화 상태 및 간이 홀더 정보를 확인합니다.","operationId":"getCardInfo","parameters":[{"name":"userId","in":"path","description":"유저 고유 식별자 / Internal unique user ID","required":true,"schema":{"type":"string"},"example":"US123456"},{"name":"cardId","in":"query","description":"조회할 특정 카드 번호 (선택) / Specific Wasabi Card ID (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/auth/check-login-id":{"get":{"tags":["Authentication & Onboarding Controller"],"summary":"아이디 중복 체크 / Check login ID duplicate","description":"요청 로그인 ID의 기존 회원 가입 여부 및 임시 신청 대기열 내 중복 여부를 판별합니다. (최소 8자리 검증 포함) 중복 시 true를 반환합니다.","operationId":"checkLoginId","parameters":[{"name":"loginId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v1/auth/check-email":{"get":{"tags":["Authentication & Onboarding Controller"],"summary":"이메일 중복 체크 / Check email duplicate","description":"요청 이메일의 기존 가입 여부 및 임시 가입 신청 대기열 내 중복 여부를 판별합니다. 중복 시 true를 반환합니다.","operationId":"checkEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v1/admin/settlement/fees":{"get":{"tags":["Admin Controller"],"summary":"플랫폼 수수료 징수 내역 대장 조회 / Get Fee Ledger","description":"유저들이 입금 및 충전을 할 때 발생한 수수료 거래 상세 이력 목록을 반환합니다.","operationId":"getFeeLedger","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMapStringObject"}}}}}}},"/api/v1/admin/merchant/wasabi-balance":{"get":{"tags":["Admin Controller"],"summary":"Wasabi 가맹점 예치금 잔액 조회 / Get Wasabi Merchant Balance","description":"카드 충전을 위해 Wasabi 시스템에 예치해 둔 가맹점 가용 예치금 잔액을 실시간 조회합니다.","operationId":"getWasabiBalance","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/admin/merchant/cregis-balance":{"get":{"tags":["Admin Controller"],"summary":"Cregis 마스터 수취 지갑 잔액 조회 / Get Cregis Master Wallet Balance","description":"본사 수취 마스터 지갑(cregis_collect_address)의 실시간 USDT 온체인 잔액을 조회합니다.","operationId":"getCregisBalance","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/admin/merchant-info":{"get":{"tags":["Admin Controller"],"summary":"가맹점 마스터 설정 정보 조회 / Fetch Merchant Master Config Info","description":"가맹점의 Cregis API Key, Cregis 마스터 수취주소, Wasabi 충전 주소 등의 마스터 연동 정보를 조회합니다.","operationId":"getMerchantInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/admin/members":{"get":{"tags":["Admin Controller"],"summary":"회원 목록 조회 / Get All Members","description":"AnyTap 시스템 내에 등록된 모든 회원 리스트를 상세 필드와 함께 가져옵니다.","operationId":"getMembers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMapStringObject"}}}}}}},"/api/v1/admin/members/{userId}/cards":{"get":{"tags":["Admin Controller"],"summary":"회원 와사비 카드 리스트 및 실시간 정보 조회 / Get Member Cards via Wasabi API","description":"회원의 와사비 카드 목록을 조회하고, 각 카드번호에 대해 실시간 Wasabi API를 호출하여 상태 및 잔액 정보를 통합 반환합니다.","operationId":"getMemberCards","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMapStringObject"}}}}}}},"/api/v1/admin/members/cards/verify":{"get":{"tags":["Admin Controller"],"summary":"실제 와사비 카드 실시간 검증 API / Verify Wasabi Card Live","description":"입력한 카드 번호를 DB 저장 없이 실시간 Wasabi API로만 조회하여 검증 결과를 반환합니다.","operationId":"verifyWasabiCardLive","parameters":[{"name":"cardNo","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapObjectObject"}}}}}}},"/api/v1/admin/me":{"get":{"tags":["Admin Controller"],"summary":"어드민 세션 프로필 조회 / Get Admin Profile","description":"현재 로그인된 어드민 계정 정보(이메일, 이름, 역할)를 리턴합니다.","operationId":"getAdminProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/admin/kyc":{"get":{"tags":["Admin Controller"],"summary":"Wasabi ID 인증 신청 목록 조회 / Get Wasabi ID Verification Application List","description":"Wasabi ID 인증(Cardholder 등록 심사)이 필요한 회원들의 목록을 반환합니다.","operationId":"getKycApplications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMapStringObject"}}}}}}},"/api/v1/admin/cards/applications":{"get":{"tags":["Admin Controller"],"summary":"카드 신청 목록 조회 / Get Card Application List","description":"카드 발급 및 제작/배송 상태인 모든 신청 이력 리스트를 반환합니다.","operationId":"getCardApplications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMapStringObject"}}}}}}},"/api/v1/admin/analytics/daily-summary":{"get":{"tags":["Admin Controller"],"summary":"어드민 일일 정산 요약 및 통계 / Daily Settlement Summary","description":"운영 대시보드 로드 시 필요한 일일 총 매출액, 정산 대기 수수료, 신규 가입자수 등의 핵심 KPI 요약 데이터를 조회합니다.","operationId":"getDailySummary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}}},"components":{"schemas":{"ApiResponseMapObjectObject":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"type":"object","additionalProperties":{"type":"object","description":"API 응답 데이터 바디 / Response payload"},"description":"API 응답 데이터 바디 / Response payload"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"CardLimitsRequest":{"required":["maxPerDayLimit","maxPerTxLimit"],"type":"object","properties":{"maxPerTxLimit":{"type":"number","description":"1회 결제 한도 ($) / Max limit per transaction in USD","example":1000.0},"maxPerDayLimit":{"type":"number","description":"1일 결제 한도 ($) / Max limit per day in USD","example":5000.0}},"description":"Wasabi 카드 한도 변경 요청 DTO"},"ApiResponseMapStringObject":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"type":"object","additionalProperties":{"type":"object","description":"API 응답 데이터 바디 / Response payload"},"description":"API 응답 데이터 바디 / Response payload"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"CregisWebhookRequest":{"required":["address","amount","coinType","txId","userId"],"type":"object","properties":{"txId":{"type":"string","description":"블록체인 트랜잭션 ID (해시) / Blockchain transaction hash (TXID)","example":"0x8fa3f80c6a51d95bda8765275e003189d2c2c2f7b889e9259f6479a42f531993"},"userId":{"type":"string","description":"내부 고유 식별자 유저 ID / Internal unique user ID","example":"US123456"},"address":{"type":"string","description":"자금이 송금된 유저 지갑 개별 주소 / User's individual deposit address","example":"TY3N3q4g891... (TRON)"},"coinType":{"type":"string","description":"자산 토큰 심볼 (USDT 등) / Coin asset type (e.g., USDT)","example":"USDT"},"amount":{"type":"number","description":"입금된 원금 수량 / Deposit gross amount","example":100.0}},"description":"Cregis 입금 알림 웹훅 요청 DTO / Cregis deposit notification webhook DTO"},"KycResubmitRequest":{"type":"object","properties":{"idFrontId":{"type":"string"},"idBackId":{"type":"string"},"selfieId":{"type":"string"}}},"WithdrawRequest":{"required":["amount","destinationAddress","userId"],"type":"object","properties":{"userId":{"type":"string","description":"신청 유저 ID / Internal User ID","example":"US123456"},"amount":{"type":"number","description":"출금할 USDT 금액 / Amount to withdraw in USDT","example":250.0},"destinationAddress":{"type":"string","description":"출금받을 TRC20 지갑 주소 / Destination TRC20 USDT address","example":"TDVjFu6CQRrhoFcg1mNVjD5QaPKL8fFtyf"}},"description":"출금 신청 요청 DTO"},"ApiResponseMapStringString":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"type":"object","additionalProperties":{"type":"string","description":"API 응답 데이터 바디 / Response payload"},"description":"API 응답 데이터 바디 / Response payload"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"CregisPayoutV2Request":{"required":["amount","currency","third_party_id","to_address"],"type":"object","properties":{"wallet_id":{"type":"integer","description":"상세 지정할 특정 출금 지갑의 Cregis 내부 고유 ID (선택)","format":"int64","example":11434198045401088},"currency":{"type":"string","description":"출금할 암호화폐 식별자 (필수)","example":"144@144"},"from_address":{"type":"string","description":"발송인 주소 (선택, 비어있을 시 프로젝트 기본 출금 주소 사용)","example":"rhAZ673nG6fSXovPAkw3EcrhKyWwXducoi"},"to_address":{"type":"string","description":"수취 주소 (필수)","example":"rn5Jyu5J6PG64543KdGvS25rQBYFQo7GLc"},"amount":{"type":"string","description":"출금 금액 (필수)","example":"2.3"},"callback_url":{"type":"string","description":"출금 결과 전달용 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/payout"},"third_party_id":{"type":"string","description":"가맹점 고유 거래 추적 ID (필수)","example":"c9231e604da54469a735af3f449c880f"},"remark":{"type":"string","description":"설명 (선택)","example":"Payout batch V2"},"memo":{"type":"string","description":"온체인 Memo/Tag 데이터 (선택)","example":"456789"}},"description":"대표 지갑 출금 신청 요청 파라미터 (V2)"},"CregisPaymentQueryRequest":{"required":["cregis_id"],"type":"object","properties":{"cregis_id":{"type":"string","description":"Cregis 결제 주문서 생성 시 리턴받은 Cregis 고유 주문 ID (필수)","example":"po1420761885130752"}},"description":"결제 주문 정보 상세 조회 요청 파라미터"},"CregisPaymentCreateRequest":{"required":["cancel_url","order_amount","order_currency","order_id","payer_id","success_url","valid_time"],"type":"object","properties":{"order_id":{"type":"string","description":"가맹점 고유 결제 주문 번호 (중복 불가, 필수)","example":"merchant_order_id_20260701"},"order_amount":{"type":"string","description":"주문 상품 가격 (필수)","example":"100.0"},"order_currency":{"type":"string","description":"결제 가격 기준 화폐 (ISO 4217 기호 또는 암호화폐 기호, 필수)","example":"USD"},"tokens":{"type":"string","description":"결제 창에서 강제 표시/허용할 암호화폐 및 네트워크 수단 목록 (선택, JSON Array 형태, 비어있을 시 전부 노출)","example":"[\"USDT-TRC20\",\"USDT-BEP20\"]"},"language":{"type":"string","description":"결제 창의 언어 설정 (선택, en:영어, tc:번체, sc:간체)","example":"en"},"success_url":{"type":"string","description":"결제 완료 후 구매자가 복귀할 리다이렉트 성공 URL (필수)","example":"https://anytap.com/payment/success"},"cancel_url":{"type":"string","description":"결제 취소 또는 타임아웃 시 복귀할 리다이렉트 실패 URL (필수)","example":"https://anytap.com/payment/cancel"},"callback_url":{"type":"string","description":"결제 완료 이벤트를 받을 가맹점의 웹훅 수신 주소 (선택)","example":"https://anytap.com/api/v1/cregis/callback/payment"},"valid_time":{"type":"integer","description":"주문서 유효 시간 (분 단위, 필수)","format":"int32","example":30},"payer_id":{"type":"string","description":"구매자 고유 식별 ID (필수)","example":"payer_user_123"},"payer_name":{"type":"string","description":"구매자 이름 (선택)","example":"Hong Gil Dong"},"payer_email":{"type":"string","description":"구매자 이메일 (선택, 일부 예외 케이스에서 알림용 필수)","example":"payer@example.com"},"order_details":{"type":"string","description":"주문 상품 상세 명세 정보 (선택, JSON 문자열)","example":"{\"items\":[{\"item_id\":\"1\",\"item_name\":\"Premium Membership\",\"item_price\":100.0,\"item_quantity\":1,\"price_currency\":\"USD\"}]}"},"sub_merchant":{"type":"string","description":"하위 가맹점 귀속 ID 정보 (선택, JSON 문자열)","example":"{\"sub_merchant_id\":\"sub_01\",\"sub_merchant_name\":\"Branch Store A\"}"},"remark":{"type":"string","description":"결제 메모 (선택)","example":"VIP membership purchase"},"stablecoin_realtime_rate":{"type":"string","description":"스테이블코인의 환율을 USD 1:1로 고정할지 여부 (선택, true:실시간환율적용, false:1대1고정)","example":"false"},"underpaid_tolerance":{"type":"number","description":"부족 결제(Underpaid) 허용 한도 오차 금액 (선택)","format":"float","example":0.0},"overpaid_tolerance":{"type":"number","description":"초과 결제(Overpaid) 허용 한도 오차 금액 (선택)","format":"float","example":0.0},"accept_partial_payment":{"type":"string","description":"부분 결제 수용 처리 여부 (선택, 'true' 또는 'false')","example":"true"},"accept_over_payment":{"type":"string","description":"초과 결제 수용 처리 여부 (선택, 'true' 또는 'false')","example":"true"}},"description":"결제 주문(Checkout) 신규 생성 요청 파라미터"},"CregisTradeQueryRequest":{"type":"object","properties":{"chain_id":{"type":"integer","description":"체인 ID (선택, 미입력 시 전체)","format":"int64","example":195},"token_id":{"type":"integer","description":"토큰 ID (선택, 미입력 시 전체)","format":"int64","example":195},"currency":{"type":"string","description":"조회 대상 화폐 기호 (선택)","example":"USDT"},"address":{"type":"string","description":"조회 대상 지갑 주소 (선택)","example":"TXsmKpEuW7qWnXzJLGP9eDLvWPR2GRn1FS"},"txid":{"type":"string","description":"트랜잭션 해시 (선택)","example":"0x6dd05b0972075542219a3fc..."},"blocktime_start":{"type":"integer","description":"블록 시작 타임스탬프 (선택, 10자리)","format":"int64","example":1721900000},"blocktime_end":{"type":"integer","description":"블록 종료 타임스탬프 (선택, 10자리)","format":"int64","example":1721999999},"page_num":{"type":"integer","description":"조회 페이지 번호 (기본값: 1)","format":"int32","example":1},"page_size":{"type":"integer","description":"페이지당 결과 개수 (기본값: 10, 최대: 100)","format":"int32","example":10}},"description":"가맹점 거래 내역 조회 요청 파라미터"},"CregisSubAddressWithdrawalRequest":{"required":["amount","currency","from_address","third_party_id","to_address"],"type":"object","properties":{"currency":{"type":"string","description":"출금할 암호화폐 식별자 (필수)","example":"144@144"},"from_address":{"type":"string","description":"출금 자금이 발송될 서브 주소 (필수)","example":"rhAZ673nG6fSXovPAkw3EcrhKyWwXducoi"},"to_address":{"type":"string","description":"지급받을 수취인 주소 (필수)","example":"rn5Jyu5J6PG64543KdGvS25rQBYFQo7GLc"},"amount":{"type":"string","description":"출금 금액 (필수)","example":"1.0"},"callback_url":{"type":"string","description":"진행률 통보용 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/withdrawal"},"third_party_id":{"type":"string","description":"가맹점 고유 거래 추적 ID (필수)","example":"withdrawal-000123"},"remark":{"type":"string","description":"출금 설명 (선택)","example":"Sub address withdrawal"},"memo":{"type":"string","description":"온체인 Memo/Tag 데이터 (선택)","example":"987654"}},"description":"서브 지갑 주소 즉시 출금 요청 파라미터"},"CregisSubAddressWithdrawalQueryRequest":{"required":["cid"],"type":"object","properties":{"cid":{"type":"integer","description":"서브 지갑 출금 시 발급받은 Cregis 고유 주문번호 (필수)","format":"int64","example":1382626461605888}},"description":"서브 주소 출금 주문 상태 조회 요청 파라미터"},"CregisAddressBalanceRequest":{"required":["currency"],"type":"object","properties":{"currency":{"type":"string","description":"조회 대상 토큰 식별자 (필수)","example":"195@195"},"address":{"type":"string","description":"상세 조회할 서브 주소 (선택)","example":"TKDxZEycaxNosmH1V9x6hEacKgWF3RRZ7h"},"minimum_balance":{"type":"string","description":"잔액 필터 최저 한도 (선택)","example":"1.0"},"maximum_balance":{"type":"string","description":"잔액 필터 최고 한도 (선택)","example":"100.0"},"page_num":{"type":"integer","description":"조회 페이지 번호","format":"int32","example":1},"page_size":{"type":"integer","description":"페이지당 크기","format":"int32","example":10}},"description":"주소 잔액 조회 요청 파라미터"},"CregisPayoutRequest":{"required":["address","amount","currency","third_party_id"],"type":"object","properties":{"currency":{"type":"string","description":"출금할 암호화폐 식별자 (필수)","example":"195@195"},"address":{"type":"string","description":"자금을 보낼 수취 대상 주소 (필수)","example":"TXsmKpEuW7qWnXzJLGP9eDLvWPR2GRn1FS"},"amount":{"type":"string","description":"출금 금액 (필수)","example":"1.5"},"callback_url":{"type":"string","description":"출금 진행 상황을 전달받을 가맹점 측 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/payout"},"third_party_id":{"type":"string","description":"가맹점에서 유니크하게 생성한 호출 추적용 트랜잭션 ID (필수)","example":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"},"remark":{"type":"string","description":"출금에 대한 설명 및 메모 (선택)","example":"Refund to User A"},"memo":{"type":"string","description":"블록체인 상에 전달할 온체인 Memo/Tag 데이터 (선택, XRP 및 TON 계열에서만 필수/지원)","example":"123456"}},"description":"대표 지갑 출금 신청 요청 파라미터 (V1)"},"CregisPayoutQueryRequest":{"required":["cid"],"type":"object","properties":{"cid":{"type":"integer","description":"출금 요청 성공 시 발급받은 Cregis 고유 주문번호 (필수)","format":"int64","example":1382626461605888}},"description":"대표 지갑 출금 주문 상태 조회 요청 파라미터"},"CregisCommonRequest":{"type":"object","properties":{"pid":{"type":"integer","description":"Cregis 가맹점 프로젝트 고유 ID (생략 시 application.properties에 설정된 값이 자동 기입됩니다)","format":"int64","example":1461063292125184},"nonce":{"type":"string","description":"6자리의 무작위 문자열 (생략 시 자동 난수 생성됩니다)","example":"a1b2c3"},"timestamp":{"type":"integer","description":"현재 Unix 타임스탬프 밀리초 (생략 시 서버의 현재 시각이 자동 기입됩니다)","format":"int64","example":1688004243314},"sign":{"type":"string","description":"위변조 방지용 MD5 서명값 (생략 시 서버에서 프로젝트 API Key로 자동 연산 및 서명처리됩니다)","example":"f5be13fdd8c6f63951ca4427359457cb"}},"description":"Cregis API 호출용 기본 공통 요청 바디. (기본 시스템 파라미터만 기재 시 사용)"},"CregisAddressCollectionRequest":{"required":["currency","from_address","to_address"],"type":"object","properties":{"currency":{"type":"string","description":"집금 대상 토큰 식별자 (필수, chain_id@token_id 또는 공식 이름)","example":"195@195"},"from_address":{"type":"string","description":"자금을 보낼 서브 주소 (필수)","example":"TJ6j9CosgGRxuVwuMFsxKwuqbUFaSd1SZr"},"to_address":{"type":"string","description":"자금을 받아 통합할 가맹점 대표 지갑 주소 (필수)","example":"TFVjBSg1dzszYSyB1dNx4cQnxaD6bHYCE1"},"amount":{"type":"string","description":"집금할 금액 (선택, 비어있을 경우 해당 서브주소의 모든 가능 금액 일괄 집금)","example":"5.5"}},"description":"지갑 주소 자금 집금 요청 파라미터"},"CregisAddressBatchCreateRequest":{"required":["chain_id","number"],"type":"object","properties":{"chain_id":{"type":"string","description":"체인 ID (필수)","example":"195"},"alias":{"type":"string","description":"일괄 생성 주소들의 공통 별칭 접두어 (선택)","example":"Batch-Address"},"callback_url":{"type":"string","description":"입금 완료 수신 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/address-deposit"},"number":{"type":"integer","description":"일괄 생성할 주소 개수 (필수, 범위 1 ~ 100)","format":"int32","example":10}},"description":"서브 입금 주소 일괄 생성 요청 파라미터"},"CregisAddressUpdateRequest":{"required":["address"],"type":"object","properties":{"address":{"type":"string","description":"대상 서브 주소 (필수)","example":"TKDxZEycaxNosmH1V9x6hEacKgWF3RRZ7h"},"alias":{"type":"string","description":"수정할 별칭 (선택)","example":"Modified-Alias-Name"},"callback_url":{"type":"string","description":"수정할 입금 콜백 URL (선택)","example":"https://anytap.com/callback/recharge"},"status":{"type":"string","description":"주소 상태값 (선택, 1: 활성, 2: 비활성)","example":"1"}},"description":"서브 주소 정보 수정 요청 파라미터"},"CregisAddressLegalityRequest":{"required":["address","chain_id"],"type":"object","properties":{"address":{"type":"string","description":"포맷 유효성을 확인할 대상 암호화폐 지갑 주소 (필수)","example":"TXsmKpEuW7qWnXzJLGP9eDLvWPR2GRn1FS"},"chain_id":{"type":"string","description":"대상 주소가 매핑되는 블록체인 네트워크의 체인 ID (필수)","example":"195"}},"description":"수취 주소 형식 검증 요청 파라미터"},"CregisAddressVerifyRequest":{"required":["address","chain_id"],"type":"object","properties":{"address":{"type":"string","description":"진위 검증할 지갑 주소 (필수)","example":"TKDxZEycaxNosmH1V9x6hEacKgWF3RRZ7h"},"chain_id":{"type":"string","description":"지갑 주소의 블록체인 네트워크 체인 ID (필수)","example":"195"}},"description":"Cregis 주소 여부 확인 요청 파라미터"},"CregisAddressCreateRequest":{"required":["chain_id"],"type":"object","properties":{"chain_id":{"type":"string","description":"블록체인 네트워크 체인 ID (필수)","example":"195"},"alias":{"type":"string","description":"생성될 주소의 표시용 별칭 (선택)","example":"User-Deposit-Address-001"},"callback_url":{"type":"string","description":"해당 주소로 입금이 완료되었을 때 호출받을 가맹점의 수신 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/address-deposit"}},"description":"서브 입금 주소 단건 생성 요청 파라미터"},"ApiResponseString":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"type":"string","description":"API 응답 데이터 바디 / Response payload"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"CardRegisterRequest":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"가입 유저 이메일 주소 / Registered user email address","example":"user@example.com"},"idFrontId":{"type":"string","description":"신분증 전면 파일 ID / Front ID card file ID","example":"FILE_MOCK_FRONT"},"idBackId":{"type":"string","description":"신분증 후면 파일 ID / Back ID card file ID","example":"FILE_MOCK_BACK"},"selfieId":{"type":"string","description":"셀카 사진 파일 ID / Selfie file ID","example":"FILE_MOCK_SELFIE"}},"description":"Wasabi 카드 발급 등록 요청 DTO / Wasabi Card registration request DTO"},"CardDepositRequest":{"required":["amount"],"type":"object","properties":{"amount":{"type":"number","description":"충전 신청할 금액 ($) / Deposit amount in USD","example":100.0},"cardId":{"type":"string","description":"충전할 특정 카드 번호 (선택사항, 미입력 시 첫번째 카드) / Specific Wasabi Card ID (optional)","example":"C_XXXX"}},"description":"Wasabi 카드 충전(Deposit) 요청 DTO / Wasabi Card deposit request DTO"},"VerifyCodeRequest":{"required":["code","email"],"type":"object","properties":{"email":{"type":"string","description":"인증 코드를 수신한 이메일 주소 / Email address that received the code","example":"test-user@example.com"},"code":{"type":"string","description":"이메일로 수신한 6자리 인증 코드 / 6-digit verification code received by email","example":"123456"}},"description":"이메일 인증 코드 검증 요청 DTO / Verification code check request DTO"},"ApiResponseBoolean":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"type":"boolean","description":"API 응답 데이터 바디 / Response payload"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"SignUpRequest":{"required":["email","loginId","merchantId","password"],"type":"object","properties":{"email":{"type":"string","description":"가입할 이메일 주소 / User login email address","example":"test-user@example.com"},"password":{"type":"string","description":"로그인 비밀번호 / User password","example":"mypassword123"},"merchantId":{"type":"string","description":"소속 가맹점 고유 식별자 / Merchant identifier registered in Merchant_Master","example":"test-merchant"},"loginId":{"type":"string","description":"사용자 로그인 고유 ID (최소 8자리) / Unique login ID (min 8 chars)","example":"testuser777"}},"description":"회원가입 요청 DTO / Sign-up request DTO"},"EmailVerifyRequest":{"required":["email","loginId","merchantId","password"],"type":"object","properties":{"email":{"type":"string","description":"인증 코드를 받을 이메일 주소 / Email address to receive the verification code","example":"test-user@example.com"},"password":{"type":"string","description":"로그인 비밀번호 / User password","example":"mypassword123"},"merchantId":{"type":"string","description":"소속 가맹점 고유 식별자 / Merchant identifier","example":"test-merchant"},"loginId":{"type":"string","description":"사용자 로그인 고유 ID (최소 8자리) / Unique login ID (min 8 chars)","example":"testuser777"}},"description":"이메일 인증 요청 DTO / Email verification request DTO"},"ApiResponseVoid":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"type":"object","description":"API 응답 데이터 바디 / Response payload"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"CardholderRegisterRequest":{"type":"object","properties":{"email":{"type":"string","description":"인증 완료된 이메일 주소 / Verified email address","example":"test-user@example.com"},"idFrontId":{"type":"string","description":"신분증 전면 파일 ID / ID card front file ID","example":"FILE_FRONT_XXXX"},"idBackId":{"type":"string","description":"신분증 후면 파일 ID (선택) / ID card back file ID (optional)","example":"FILE_BACK_XXXX"},"selfieId":{"type":"string","description":"셀카 사진 파일 ID (선택) / Selfie photo file ID (optional)","example":"FILE_SELFIE_XXXX"},"idType":{"type":"string","description":"신분증 유형 / ID type (PASSPORT, ID_CARD)","example":"PASSPORT"},"mobile":{"type":"string","description":"휴대폰 번호 / Mobile phone number","example":"01012345678"},"areaCode":{"type":"string","description":"국가 전화 코드 / Country phone area code","example":"+82"}},"description":"Wasabi 카드홀더 등록 요청 DTO / Wasabi Cardholder registration request DTO"},"LoginRequest":{"required":["loginId","password"],"type":"object","properties":{"loginId":{"type":"string","description":"사용자 로그인 ID / Unique login ID","example":"testuser777"},"password":{"type":"string","description":"암호화되지 않은 원래 비밀번호 / Raw login password","example":"mypassword123"}},"description":"로그인 요청 DTO / User login request DTO"},"ApiResponseAuthResponse":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"$ref":"#/components/schemas/AuthResponse"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"AuthResponse":{"type":"object","properties":{"userId":{"type":"string","description":"시스템 고유 유저 ID / Internal unique user ID","example":"US123456"},"email":{"type":"string","description":"유저 이메일 / User email address","example":"test-user@example.com"},"loginId":{"type":"string","description":"로그인 ID / User login ID","example":"testuser001"},"merchantId":{"type":"string","description":"소속 가맹점 ID / Mapped merchant ID","example":"test-merchant"},"cregisWalletAddress":{"type":"string","description":"Cregis WaaS 지갑 개별 주소 / Generated TRON wallet sub-address","example":"TY3N3q4g891... (TRON)"},"status":{"type":"string","description":"회원 상태 (PENDING, ACTIVE) / User current status","example":"PENDING"},"kycStatus":{"type":"string","description":"KYC 상태 (PENDING, UNDER_REVIEW, APPROVED, REJECTED) / KYC status","example":"PENDING"},"cardStatus":{"type":"string","description":"카드 상태 / Card status","example":"not_issued"},"walletExists":{"type":"boolean","description":"개인 지갑 생성 여부 / Wallet exists","example":false},"needsActivation":{"type":"boolean","description":"카드 활성화(등록) 필요 여부 / Needs card activation","example":false}},"description":"로그인 인증 성공 응답 DTO / Login authentication response DTO"},"UpdateMemberRequest":{"type":"object","properties":{"email":{"type":"string","description":"회원 이메일 주소","example":"user@example.com"},"status":{"type":"string","description":"시스템 회원 상태 (ACTIVE, PENDING, SUSPENDED)","example":"ACTIVE"},"role":{"type":"string","description":"회원 역할/등급","example":"user"},"cregisWalletAddress":{"type":"string","description":"Cregis 입금 지갑 주소","example":"TWeY9b3gZtcDXsmKpEuW7qWnXzJLGP9eDL"},"cardStatus":{"type":"string","description":"와사비 가상 카드 내부 상태 (not_issued, application_review, deposit_received, creating, shipping, issued, active 등)","example":"active"},"trackingNumber":{"type":"string","description":"배송 운송장 번호","example":"1Z999AA10123"},"carrier":{"type":"string","description":"배송 업체명","example":"DHL"},"wasabiCardId":{"type":"string","description":"연동할 와사비 카드 번호","example":"WD20260709207525"}},"description":"어드민 회원 정보 수정 요청 DTO"},"CardStatusUpdateRequest":{"type":"object","properties":{"cardStatus":{"type":"string","description":"카드 상태 (application_review, creating, shipping, issued, active 등)","example":"shipping"},"trackingNumber":{"type":"string","description":"배송 송장 번호","example":"DHL123456789"},"carrier":{"type":"string","description":"배송 업체명","example":"DHL"}},"description":"카드 상태 및 배송 정보 수동 업데이트 요청 DTO"},"ApiResponseUserResponse":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"$ref":"#/components/schemas/UserResponse"},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"},"UserResponse":{"type":"object","properties":{"userId":{"type":"string"},"loginId":{"type":"string"},"email":{"type":"string"},"cregisWalletAddress":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"status":{"type":"string"},"wasabiHolderId":{"type":"string"},"cardIds":{"type":"array","items":{"type":"string"}},"merchantId":{"type":"string"},"merchantName":{"type":"string"},"kycStatus":{"type":"string"},"cardStatus":{"type":"string"},"walletExists":{"type":"boolean"},"needsActivation":{"type":"boolean"},"trackingNumber":{"type":"string"},"carrier":{"type":"string"},"role":{"type":"string"}},"description":"API 응답 데이터 바디 / Response payload"},"ApiResponseListMapStringObject":{"type":"object","properties":{"result":{"type":"boolean","description":"API 처리 성공 여부 (true: 성공, false: 실패) / Execution result status","example":true},"message":{"type":"string","description":"API 처리 결과 메시지 (실패 시 상세 원인 기재) / Execution description or error message","example":"Operation successful"},"data":{"type":"array","description":"API 응답 데이터 바디 / Response payload","items":{"type":"object","additionalProperties":{"type":"object","description":"API 응답 데이터 바디 / Response payload"},"description":"API 응답 데이터 바디 / Response payload"}},"sqlLogs":{"type":"array","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request","items":{"type":"string","description":"요청 처리 중 실행된 SQL 로그 / Executed SQL logs during this request"}}},"description":"통합 API 응답 객체 / Unified API Response Wrapper"}}}}