{"openapi":"3.0.1","info":{"title":"AnyTap REST API Specification","description":"AnyTap 백엔드 서버의 API 및 외부 인터페이스 연동 명세서","version":"v1.0.0"},"servers":[{"url":"http://anytap-alb-1199820250.ap-northeast-2.elb.amazonaws.com","description":"Generated server url"}],"tags":[{"name":"Webhook Controller","description":"외부 WaaS 플랫폼(Cregis) 및 카드사(Wasabi)로부터 실시간 이벤트를 수신하는 웹훅 API / External webhooks"},{"name":"Cregis API","description":"Cregis WaaS 및 결제 엔진 연동용 공식 API 명세 및 중계 API (한글 번역 제공)"}],"paths":{"/api/v1/webhooks/wasabi/wallet":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 가맹점 지갑 웹훅 / Wasabi Wallet Webhook","description":"본사 Wasabi 가맹점 계정 예치금 풀(Treasury)에 입금/출금이 발생했을 때 자금 상태 감지용으로 호출되는 웹훅입니다.","operationId":"handleWasabiWalletWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/wasabi/card-operation":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 카드 조작 트랜잭션 웹훅 / Wasabi Card Operation Webhook","description":"Wasabi 선불카드의 충전, 정지, 해제 및 취소 처리가 완료되었을 때 호출되는 콜백 엔드포인트입니다.","operationId":"handleWasabiCardOperationWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/wasabi/card-holder":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 카드홀더 이벤트 웹훅 / Wasabi Card Holder Webhook","description":"Wasabi 카드 홀더의 Wasabi ID 인증 심사 결과(Approved/Rejected) 이벤트가 발생했을 때 호출되는 콜백 엔드포인트입니다.","operationId":"handleWasabiCardHolderWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/wasabi/card-auth":{"post":{"tags":["Webhook Controller"],"summary":"Wasabi 카드 승인/결제 웹훅 / Wasabi Card Auth Webhook","description":"회원의 실물카드로 온/오프라인 가맹점에서 결제 승인 또는 거부(Auth/Decline)되었을 때 호출되는 콜백 엔드포인트입니다. B2 해외결제수수료(0.5%)의 정산대기수수료 누적을 처리합니다.","operationId":"handleWasabiCardAuthWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/webhooks/cregis":{"post":{"tags":["Webhook Controller"],"summary":"Cregis 입금 알림 수신 웹훅 / Cregis Deposit Webhook","description":"Cregis 플랫폼에서 유저 개별 지갑 주소로 암호화폐(USDT 등)가 입금 완료되었을 때 호출되는 콜백 엔드포인트입니다. Cregis 사양을 만족하기 위해 처리 성공 시 반드시 문자열 'success'를 본문에 담아 응답합니다.","operationId":"handleCregisWebhook","parameters":[{"name":"X-Signature","in":"header","description":"요청 본문 검증용 HMAC-MD5 서명 값 / HMAC-MD5 Signature","required":false,"schema":{"type":"string"},"example":"a1b2c3d4..."}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/cregis/v2/payout":{"post":{"tags":["Cregis API"],"summary":"대표 지갑 출금 요청 (V2) / Create wallet payout v2","description":"특정 지갑 ID 또는 특정 발송 주소를 명시하여 대표 지갑 내 상세 지정 출금 요청을 수행하는 V2 API입니다.","operationId":"createWalletPayoutV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPayoutV2Request"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/v2/order/info":{"post":{"tags":["Cregis API"],"summary":"결제 주문 상태 조회 / Query Payment order","description":"구매자의 결제 완료 여부, 실제 결제 금액, 남은 잔액, 취소 여부 및 정산 완료 상태 등을 Cregis 주문 고유 식별자(cregis_id)로 정밀하게 조회합니다.","operationId":"queryPaymentOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPaymentQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/v2/checkout":{"post":{"tags":["Cregis API"],"summary":"결제 주문서 생성 / Create Payment order","description":"구매자가 Cregis 결제 창(Checkout Page)을 통해 상품을 결제할 수 있도록 주문 고유 정보, 결제 금액, 허용 코인 종류 및 반환 링크 정보를 포함한 신규 결제 웹 주문을 생성합니다.","operationId":"createPaymentOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPaymentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/trade/query":{"post":{"tags":["Cregis API"],"summary":"가맹점 거래 내역 조회 / Get transactions","description":"가맹점의 특정 지갑 주소, 화폐, 트랜잭션 해시, 날짜 범위 조건에 해당하는 모든 거래 내역(입/출금)을 조회합니다.","operationId":"getTransactions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisTradeQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/sub_address_withdrawal":{"post":{"tags":["Cregis API"],"summary":"서브 주소 출금 요청 / Create sub-address payout","description":"가맹점의 개별 서브 지갑 주소(from_address)로부터 수취인 주소(to_address)로 즉시 출금(출송) 트랜잭션을 실행합니다.","operationId":"createSubAddressPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisSubAddressWithdrawalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/sub_address_withdrawal/info":{"post":{"tags":["Cregis API"],"summary":"서브 주소 출금 주문 상태 조회 / Query sub-address payout order","description":"서브 주소 출금 요청의 승인 여부, 블록체인 전송 성공률 및 트랜잭션 해시 정보를 고유 일련번호(cid)로 상세 조회합니다.","operationId":"querySubAddressPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisSubAddressWithdrawalQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/sub_address_balance":{"post":{"tags":["Cregis API"],"summary":"서브 주소 잔액 조회 / Query address balance","description":"WaaS 프로젝트에 생성된 서브 주소들의 잔액을 필터링하여 일괄 또는 개별 조회합니다.","operationId":"queryAddressBalance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressBalanceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/payout":{"post":{"tags":["Cregis API"],"summary":"대표 지갑 출금 요청 (V1) / Create wallet payout","description":"가맹점 대표(마스터) 지갑에 보관된 자금에서 외부 지정 수취인 지갑 주소로 암호화폐 자금을 출금합니다.","operationId":"createWalletPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPayoutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/payout/query":{"post":{"tags":["Cregis API"],"summary":"대표 지갑 출금 주문 상태 조회 / Query wallet payout order","description":"대표 지갑 출금 트랜잭션(V1, V2)의 결재 상태, 서명 진행률 및 온체인 완료 여부를 고유 일련번호(cid)로 추적합니다.","operationId":"queryWalletPayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisPayoutQueryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/currency/query":{"post":{"tags":["Cregis API"],"summary":"프로젝트 지원 코인 목록 조회 / Get project coins","description":"가맹점 프로젝트(Project ID)에서 연동 활성화한 암호화폐(코인/토큰) 목록 및 상세 정보(체인 ID, 토큰 ID, 소수점 자릿수 등)를 실시간 조회합니다.","operationId":"getProjectCoins","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisCommonRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/collection":{"post":{"tags":["Cregis API"],"summary":"지갑 주소 잔액 집금 / Address collection","description":"서브 지갑 주소에 흩어진 암호화폐 자금을 가맹점의 대표(마스터) 지갑으로 안전하게 이동(집금)시키는 이체 트랜잭션을 생성합니다.","operationId":"addressCollection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressCollectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/batch/address/create":{"post":{"tags":["Cregis API"],"summary":"입금 서브 주소 일괄 생성 / Batch create address","description":"여러 명의 유저에게 동시 할당할 수 있도록 특정 블록체인 상의 서브 지갑 주소를 일괄 생성합니다. (1회 최대 100개)","operationId":"batchCreateAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressBatchCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/update":{"post":{"tags":["Cregis API"],"summary":"서브 주소 정보 변경 / Update address info","description":"생성되어 있는 서브 주소의 별칭(alias), 입금 통보용 콜백 URL(callback_url) 및 주소 상태값을 수정합니다.","operationId":"updateAddressInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/legal":{"post":{"tags":["Cregis API"],"summary":"수취 주소 포맷 적합성 검증 / Check address legality","description":"출금을 실행하기 전에 수취 대상 블록체인 네트워크와 해당 지갑 주소가 문법적으로 유효한 주소인지 먼저 규격을 확인합니다.","operationId":"verifyAddressLegality","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressLegalityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/inner":{"post":{"tags":["Cregis API"],"summary":"Cregis 주소 여부 검증 / Check address existence","description":"전달받은 주소가 외부 주소가 아닌, 당사 Cregis 프로젝트에 속하여 정상 할당된 주소가 맞는지 여부를 조회합니다.","operationId":"verifyAddressExistence","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v1/cregis/address/create":{"post":{"tags":["Cregis API"],"summary":"입금 서브 주소 생성 / Create address","description":"특정 블록체인 네트워크 상에 고객의 개별 입금(Recharge) 식별 처리를 위한 1회성 또는 영구 서브 지갑 주소를 생성합니다.","operationId":"createAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CregisAddressCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"components":{"schemas":{"CregisWebhookRequest":{"required":["address","amount","coinType","txId","userId"],"type":"object","properties":{"txId":{"type":"string","description":"블록체인 트랜잭션 ID (해시) / Blockchain transaction hash (TXID)","example":"0x8fa3f80c6a51d95bda8765275e003189d2c2c2f7b889e9259f6479a42f531993"},"userId":{"type":"string","description":"내부 고유 식별자 유저 ID / Internal unique user ID","example":"US123456"},"address":{"type":"string","description":"자금이 송금된 유저 지갑 개별 주소 / User's individual deposit address","example":"TY3N3q4g891... (TRON)"},"coinType":{"type":"string","description":"자산 토큰 심볼 (USDT 등) / Coin asset type (e.g., USDT)","example":"USDT"},"amount":{"type":"number","description":"입금된 원금 수량 / Deposit gross amount","example":100.0}},"description":"Cregis 입금 알림 웹훅 요청 DTO / Cregis deposit notification webhook DTO"},"CregisPayoutV2Request":{"required":["amount","currency","third_party_id","to_address"],"type":"object","properties":{"wallet_id":{"type":"integer","description":"상세 지정할 특정 출금 지갑의 Cregis 내부 고유 ID (선택)","format":"int64","example":11434198045401088},"currency":{"type":"string","description":"출금할 암호화폐 식별자 (필수)","example":"144@144"},"from_address":{"type":"string","description":"발송인 주소 (선택, 비어있을 시 프로젝트 기본 출금 주소 사용)","example":"rhAZ673nG6fSXovPAkw3EcrhKyWwXducoi"},"to_address":{"type":"string","description":"수취 주소 (필수)","example":"rn5Jyu5J6PG64543KdGvS25rQBYFQo7GLc"},"amount":{"type":"string","description":"출금 금액 (필수)","example":"2.3"},"callback_url":{"type":"string","description":"출금 결과 전달용 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/payout"},"third_party_id":{"type":"string","description":"가맹점 고유 거래 추적 ID (필수)","example":"c9231e604da54469a735af3f449c880f"},"remark":{"type":"string","description":"설명 (선택)","example":"Payout batch V2"},"memo":{"type":"string","description":"온체인 Memo/Tag 데이터 (선택)","example":"456789"}},"description":"대표 지갑 출금 신청 요청 파라미터 (V2)"},"CregisPaymentQueryRequest":{"required":["cregis_id"],"type":"object","properties":{"cregis_id":{"type":"string","description":"Cregis 결제 주문서 생성 시 리턴받은 Cregis 고유 주문 ID (필수)","example":"po1420761885130752"}},"description":"결제 주문 정보 상세 조회 요청 파라미터"},"CregisPaymentCreateRequest":{"required":["cancel_url","order_amount","order_currency","order_id","payer_id","success_url","valid_time"],"type":"object","properties":{"order_id":{"type":"string","description":"가맹점 고유 결제 주문 번호 (중복 불가, 필수)","example":"merchant_order_id_20260701"},"order_amount":{"type":"string","description":"주문 상품 가격 (필수)","example":"100.0"},"order_currency":{"type":"string","description":"결제 가격 기준 화폐 (ISO 4217 기호 또는 암호화폐 기호, 필수)","example":"USD"},"tokens":{"type":"string","description":"결제 창에서 강제 표시/허용할 암호화폐 및 네트워크 수단 목록 (선택, JSON Array 형태, 비어있을 시 전부 노출)","example":"[\"USDT-TRC20\",\"USDT-BEP20\"]"},"language":{"type":"string","description":"결제 창의 언어 설정 (선택, en:영어, tc:번체, sc:간체)","example":"en"},"success_url":{"type":"string","description":"결제 완료 후 구매자가 복귀할 리다이렉트 성공 URL (필수)","example":"https://anytap.com/payment/success"},"cancel_url":{"type":"string","description":"결제 취소 또는 타임아웃 시 복귀할 리다이렉트 실패 URL (필수)","example":"https://anytap.com/payment/cancel"},"callback_url":{"type":"string","description":"결제 완료 이벤트를 받을 가맹점의 웹훅 수신 주소 (선택)","example":"https://anytap.com/api/v1/cregis/callback/payment"},"valid_time":{"type":"integer","description":"주문서 유효 시간 (분 단위, 필수)","format":"int32","example":30},"payer_id":{"type":"string","description":"구매자 고유 식별 ID (필수)","example":"payer_user_123"},"payer_name":{"type":"string","description":"구매자 이름 (선택)","example":"Hong Gil Dong"},"payer_email":{"type":"string","description":"구매자 이메일 (선택, 일부 예외 케이스에서 알림용 필수)","example":"payer@example.com"},"order_details":{"type":"string","description":"주문 상품 상세 명세 정보 (선택, JSON 문자열)","example":"{\"items\":[{\"item_id\":\"1\",\"item_name\":\"Premium Membership\",\"item_price\":100.0,\"item_quantity\":1,\"price_currency\":\"USD\"}]}"},"sub_merchant":{"type":"string","description":"하위 가맹점 귀속 ID 정보 (선택, JSON 문자열)","example":"{\"sub_merchant_id\":\"sub_01\",\"sub_merchant_name\":\"Branch Store A\"}"},"remark":{"type":"string","description":"결제 메모 (선택)","example":"VIP membership purchase"},"stablecoin_realtime_rate":{"type":"string","description":"스테이블코인의 환율을 USD 1:1로 고정할지 여부 (선택, true:실시간환율적용, false:1대1고정)","example":"false"},"underpaid_tolerance":{"type":"number","description":"부족 결제(Underpaid) 허용 한도 오차 금액 (선택)","format":"float","example":0.0},"overpaid_tolerance":{"type":"number","description":"초과 결제(Overpaid) 허용 한도 오차 금액 (선택)","format":"float","example":0.0},"accept_partial_payment":{"type":"string","description":"부분 결제 수용 처리 여부 (선택, 'true' 또는 'false')","example":"true"},"accept_over_payment":{"type":"string","description":"초과 결제 수용 처리 여부 (선택, 'true' 또는 'false')","example":"true"}},"description":"결제 주문(Checkout) 신규 생성 요청 파라미터"},"CregisTradeQueryRequest":{"type":"object","properties":{"chain_id":{"type":"integer","description":"체인 ID (선택, 미입력 시 전체)","format":"int64","example":195},"token_id":{"type":"integer","description":"토큰 ID (선택, 미입력 시 전체)","format":"int64","example":195},"currency":{"type":"string","description":"조회 대상 화폐 기호 (선택)","example":"USDT"},"address":{"type":"string","description":"조회 대상 지갑 주소 (선택)","example":"TXsmKpEuW7qWnXzJLGP9eDLvWPR2GRn1FS"},"txid":{"type":"string","description":"트랜잭션 해시 (선택)","example":"0x6dd05b0972075542219a3fc..."},"blocktime_start":{"type":"integer","description":"블록 시작 타임스탬프 (선택, 10자리)","format":"int64","example":1721900000},"blocktime_end":{"type":"integer","description":"블록 종료 타임스탬프 (선택, 10자리)","format":"int64","example":1721999999},"page_num":{"type":"integer","description":"조회 페이지 번호 (기본값: 1)","format":"int32","example":1},"page_size":{"type":"integer","description":"페이지당 결과 개수 (기본값: 10, 최대: 100)","format":"int32","example":10}},"description":"가맹점 거래 내역 조회 요청 파라미터"},"CregisSubAddressWithdrawalRequest":{"required":["amount","currency","from_address","third_party_id","to_address"],"type":"object","properties":{"currency":{"type":"string","description":"출금할 암호화폐 식별자 (필수)","example":"144@144"},"from_address":{"type":"string","description":"출금 자금이 발송될 서브 주소 (필수)","example":"rhAZ673nG6fSXovPAkw3EcrhKyWwXducoi"},"to_address":{"type":"string","description":"지급받을 수취인 주소 (필수)","example":"rn5Jyu5J6PG64543KdGvS25rQBYFQo7GLc"},"amount":{"type":"string","description":"출금 금액 (필수)","example":"1.0"},"callback_url":{"type":"string","description":"진행률 통보용 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/withdrawal"},"third_party_id":{"type":"string","description":"가맹점 고유 거래 추적 ID (필수)","example":"withdrawal-000123"},"remark":{"type":"string","description":"출금 설명 (선택)","example":"Sub address withdrawal"},"memo":{"type":"string","description":"온체인 Memo/Tag 데이터 (선택)","example":"987654"}},"description":"서브 지갑 주소 즉시 출금 요청 파라미터"},"CregisSubAddressWithdrawalQueryRequest":{"required":["cid"],"type":"object","properties":{"cid":{"type":"integer","description":"서브 지갑 출금 시 발급받은 Cregis 고유 주문번호 (필수)","format":"int64","example":1382626461605888}},"description":"서브 주소 출금 주문 상태 조회 요청 파라미터"},"CregisAddressBalanceRequest":{"required":["currency"],"type":"object","properties":{"currency":{"type":"string","description":"조회 대상 토큰 식별자 (필수)","example":"195@195"},"address":{"type":"string","description":"상세 조회할 서브 주소 (선택)","example":"TKDxZEycaxNosmH1V9x6hEacKgWF3RRZ7h"},"minimum_balance":{"type":"string","description":"잔액 필터 최저 한도 (선택)","example":"1.0"},"maximum_balance":{"type":"string","description":"잔액 필터 최고 한도 (선택)","example":"100.0"},"page_num":{"type":"integer","description":"조회 페이지 번호","format":"int32","example":1},"page_size":{"type":"integer","description":"페이지당 크기","format":"int32","example":10}},"description":"주소 잔액 조회 요청 파라미터"},"CregisPayoutRequest":{"required":["address","amount","currency","third_party_id"],"type":"object","properties":{"currency":{"type":"string","description":"출금할 암호화폐 식별자 (필수)","example":"195@195"},"address":{"type":"string","description":"자금을 보낼 수취 대상 주소 (필수)","example":"TXsmKpEuW7qWnXzJLGP9eDLvWPR2GRn1FS"},"amount":{"type":"string","description":"출금 금액 (필수)","example":"1.5"},"callback_url":{"type":"string","description":"출금 진행 상황을 전달받을 가맹점 측 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/payout"},"third_party_id":{"type":"string","description":"가맹점에서 유니크하게 생성한 호출 추적용 트랜잭션 ID (필수)","example":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"},"remark":{"type":"string","description":"출금에 대한 설명 및 메모 (선택)","example":"Refund to User A"},"memo":{"type":"string","description":"블록체인 상에 전달할 온체인 Memo/Tag 데이터 (선택, XRP 및 TON 계열에서만 필수/지원)","example":"123456"}},"description":"대표 지갑 출금 신청 요청 파라미터 (V1)"},"CregisPayoutQueryRequest":{"required":["cid"],"type":"object","properties":{"cid":{"type":"integer","description":"출금 요청 성공 시 발급받은 Cregis 고유 주문번호 (필수)","format":"int64","example":1382626461605888}},"description":"대표 지갑 출금 주문 상태 조회 요청 파라미터"},"CregisCommonRequest":{"type":"object","properties":{"pid":{"type":"integer","description":"Cregis 가맹점 프로젝트 고유 ID (생략 시 application.properties에 설정된 값이 자동 기입됩니다)","format":"int64","example":1461063292125184},"nonce":{"type":"string","description":"6자리의 무작위 문자열 (생략 시 자동 난수 생성됩니다)","example":"a1b2c3"},"timestamp":{"type":"integer","description":"현재 Unix 타임스탬프 밀리초 (생략 시 서버의 현재 시각이 자동 기입됩니다)","format":"int64","example":1688004243314},"sign":{"type":"string","description":"위변조 방지용 MD5 서명값 (생략 시 서버에서 프로젝트 API Key로 자동 연산 및 서명처리됩니다)","example":"f5be13fdd8c6f63951ca4427359457cb"}},"description":"Cregis API 호출용 기본 공통 요청 바디. (기본 시스템 파라미터만 기재 시 사용)"},"CregisAddressCollectionRequest":{"required":["currency","from_address","to_address"],"type":"object","properties":{"currency":{"type":"string","description":"집금 대상 토큰 식별자 (필수, chain_id@token_id 또는 공식 이름)","example":"195@195"},"from_address":{"type":"string","description":"자금을 보낼 서브 주소 (필수)","example":"TJ6j9CosgGRxuVwuMFsxKwuqbUFaSd1SZr"},"to_address":{"type":"string","description":"자금을 받아 통합할 가맹점 대표 지갑 주소 (필수)","example":"TFVjBSg1dzszYSyB1dNx4cQnxaD6bHYCE1"},"amount":{"type":"string","description":"집금할 금액 (선택, 비어있을 경우 해당 서브주소의 모든 가능 금액 일괄 집금)","example":"5.5"}},"description":"지갑 주소 자금 집금 요청 파라미터"},"CregisAddressBatchCreateRequest":{"required":["chain_id","number"],"type":"object","properties":{"chain_id":{"type":"string","description":"체인 ID (필수)","example":"195"},"alias":{"type":"string","description":"일괄 생성 주소들의 공통 별칭 접두어 (선택)","example":"Batch-Address"},"callback_url":{"type":"string","description":"입금 완료 수신 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/address-deposit"},"number":{"type":"integer","description":"일괄 생성할 주소 개수 (필수, 범위 1 ~ 100)","format":"int32","example":10}},"description":"서브 입금 주소 일괄 생성 요청 파라미터"},"CregisAddressUpdateRequest":{"required":["address"],"type":"object","properties":{"address":{"type":"string","description":"대상 서브 주소 (필수)","example":"TKDxZEycaxNosmH1V9x6hEacKgWF3RRZ7h"},"alias":{"type":"string","description":"수정할 별칭 (선택)","example":"Modified-Alias-Name"},"callback_url":{"type":"string","description":"수정할 입금 콜백 URL (선택)","example":"https://anytap.com/callback/recharge"},"status":{"type":"string","description":"주소 상태값 (선택, 1: 활성, 2: 비활성)","example":"1"}},"description":"서브 주소 정보 수정 요청 파라미터"},"CregisAddressLegalityRequest":{"required":["address","chain_id"],"type":"object","properties":{"address":{"type":"string","description":"포맷 유효성을 확인할 대상 암호화폐 지갑 주소 (필수)","example":"TXsmKpEuW7qWnXzJLGP9eDLvWPR2GRn1FS"},"chain_id":{"type":"string","description":"대상 주소가 매핑되는 블록체인 네트워크의 체인 ID (필수)","example":"195"}},"description":"수취 주소 형식 검증 요청 파라미터"},"CregisAddressVerifyRequest":{"required":["address","chain_id"],"type":"object","properties":{"address":{"type":"string","description":"진위 검증할 지갑 주소 (필수)","example":"TKDxZEycaxNosmH1V9x6hEacKgWF3RRZ7h"},"chain_id":{"type":"string","description":"지갑 주소의 블록체인 네트워크 체인 ID (필수)","example":"195"}},"description":"Cregis 주소 여부 확인 요청 파라미터"},"CregisAddressCreateRequest":{"required":["chain_id"],"type":"object","properties":{"chain_id":{"type":"string","description":"블록체인 네트워크 체인 ID (필수)","example":"195"},"alias":{"type":"string","description":"생성될 주소의 표시용 별칭 (선택)","example":"User-Deposit-Address-001"},"callback_url":{"type":"string","description":"해당 주소로 입금이 완료되었을 때 호출받을 가맹점의 수신 콜백 URL (선택)","example":"https://anytap.com/api/v1/cregis/callback/address-deposit"}},"description":"서브 입금 주소 단건 생성 요청 파라미터"}}}}